
h1 {
    margin: 30px;
    font-size: 38px;
    font-weight: bold;
    color: #FFFFFF;
}

.main-image {
    width: 100%
}

body {
    background:rgb(248, 208, 208)
}

.centered-text {
    text-align: center
}

h2 {
    margin: 30px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #FFFFFF;
}

.sq-midle {
    padding: 30px;
    color: rgb(248, 208, 208);
    background: white;
}

h3 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: rgb(248, 208, 208);
}

.text-description {
    font-size: 20px;
    margin: 20px;
    line-height: 1.5
}

em {
    font-weight: bold;
}

.text-table {
    font-size: 20px;
}


ul {
    display: block;
    padding: 10px 41%;
    margin-bottom: 2px;    line-height: 1.5
}

ul h4 {
    font-size: 22px;
    text-align: center;
    font-weight: bold;
}

ul a {   
    font-size: 22px;
    color: rgb(248, 208, 208);
}

ul li {
    text-align: center;
}

ul a:hover {
    font-size: 24px;
    font-weight: bold;
    color: rgb(247, 166, 166);
}

footer {
    text-align: center;
    background: rgb(248, 208, 208);
    padding: 30px 0;
}

footer img {
    width: 8%;
}

.copyright {
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px 0 0;
}